{% extends "base.html" %}

{% block title%}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the Meeting planner</h1>
    <!-- dynamic message that is passed on views.py !-->

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{meeting.title}}
                </a>
            </li>
        {% endfor %}
    </ul>

<p>To see all rooms click <a href="{% url 'rooms' %}">here</a>. </p>

{% endblock %}